<p-panel header="Pipes Basicós" class="p-1">
  <p>
    Pipes incluidos en Angular - usualmente en el common module
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ nameLower | lowercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ nameUpper | uppercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ fullname | titlecase }}
    </p-card>
  </div>
</div>
